# coding: utf-8

"""
    PS RESTful Service API

    A proxy service for PromoStandards SOAP to a REST API  # noqa: E501

    OpenAPI spec version: 0.0.1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from psrestful.api_client import ApiClient


class OrderShipmentNotificationApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_order_shipment_notification_v100(self, query_type, supplier_code, **kwargs):  # noqa: E501
        """Get Order Shipment Notification V100  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_order_shipment_notification_v100(query_type, supplier_code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PsDomainModelOsnCommonQueryType query_type: (required)
        :param object supplier_code: (required)
        :param object body:
        :param object x_forwarded_for:
        :param object x_account_id:
        :param object reference_number:
        :param object status_timestamp:
        :param object environment:
        :return: GetOrderShipmentNotificationResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_order_shipment_notification_v100_with_http_info(query_type, supplier_code, **kwargs)  # noqa: E501
        else:
            (data) = self.get_order_shipment_notification_v100_with_http_info(query_type, supplier_code, **kwargs)  # noqa: E501
            return data

    def get_order_shipment_notification_v100_with_http_info(self, query_type, supplier_code, **kwargs):  # noqa: E501
        """Get Order Shipment Notification V100  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_order_shipment_notification_v100_with_http_info(query_type, supplier_code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PsDomainModelOsnCommonQueryType query_type: (required)
        :param object supplier_code: (required)
        :param object body:
        :param object x_forwarded_for:
        :param object x_account_id:
        :param object reference_number:
        :param object status_timestamp:
        :param object environment:
        :return: GetOrderShipmentNotificationResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['query_type', 'supplier_code', 'body', 'x_forwarded_for', 'x_account_id', 'reference_number', 'status_timestamp', 'environment']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_order_shipment_notification_v100" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'query_type' is set
        if ('query_type' not in params or
                params['query_type'] is None):
            raise ValueError("Missing the required parameter `query_type` when calling `get_order_shipment_notification_v100`")  # noqa: E501
        # verify the required parameter 'supplier_code' is set
        if ('supplier_code' not in params or
                params['supplier_code'] is None):
            raise ValueError("Missing the required parameter `supplier_code` when calling `get_order_shipment_notification_v100`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'supplier_code' in params:
            path_params['supplier_code'] = params['supplier_code']  # noqa: E501

        query_params = []
        if 'query_type' in params:
            query_params.append(('query_type', params['query_type']))  # noqa: E501
        if 'reference_number' in params:
            query_params.append(('reference_number', params['reference_number']))  # noqa: E501
        if 'status_timestamp' in params:
            query_params.append(('status_timestamp', params['status_timestamp']))  # noqa: E501
        if 'environment' in params:
            query_params.append(('environment', params['environment']))  # noqa: E501

        header_params = {}
        if 'x_forwarded_for' in params:
            header_params['X-Forwarded-For'] = params['x_forwarded_for']  # noqa: E501
        if 'x_account_id' in params:
            header_params['x-account-id'] = params['x_account_id']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader', 'HTTPBasic', 'OAuth2PasswordBearer']  # noqa: E501

        return self.api_client.call_api(
            '/v1.0.0/suppliers/{supplier_code}/order-shipment-notifications/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetOrderShipmentNotificationResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_order_shipment_notification_v200(self, query_type, supplier_code, **kwargs):  # noqa: E501
        """Get Order Shipment Notification V200  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_order_shipment_notification_v200(query_type, supplier_code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PsDomainModelOsnCommonQueryType query_type: (required)
        :param object supplier_code: (required)
        :param object body:
        :param object x_forwarded_for:
        :param object x_account_id:
        :param object reference_number:
        :param object shipment_date_timestamp:
        :param object environment:
        :return: GetOrderShipmentNotificationResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_order_shipment_notification_v200_with_http_info(query_type, supplier_code, **kwargs)  # noqa: E501
        else:
            (data) = self.get_order_shipment_notification_v200_with_http_info(query_type, supplier_code, **kwargs)  # noqa: E501
            return data

    def get_order_shipment_notification_v200_with_http_info(self, query_type, supplier_code, **kwargs):  # noqa: E501
        """Get Order Shipment Notification V200  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_order_shipment_notification_v200_with_http_info(query_type, supplier_code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PsDomainModelOsnCommonQueryType query_type: (required)
        :param object supplier_code: (required)
        :param object body:
        :param object x_forwarded_for:
        :param object x_account_id:
        :param object reference_number:
        :param object shipment_date_timestamp:
        :param object environment:
        :return: GetOrderShipmentNotificationResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['query_type', 'supplier_code', 'body', 'x_forwarded_for', 'x_account_id', 'reference_number', 'shipment_date_timestamp', 'environment']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_order_shipment_notification_v200" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'query_type' is set
        if ('query_type' not in params or
                params['query_type'] is None):
            raise ValueError("Missing the required parameter `query_type` when calling `get_order_shipment_notification_v200`")  # noqa: E501
        # verify the required parameter 'supplier_code' is set
        if ('supplier_code' not in params or
                params['supplier_code'] is None):
            raise ValueError("Missing the required parameter `supplier_code` when calling `get_order_shipment_notification_v200`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'supplier_code' in params:
            path_params['supplier_code'] = params['supplier_code']  # noqa: E501

        query_params = []
        if 'query_type' in params:
            query_params.append(('query_type', params['query_type']))  # noqa: E501
        if 'reference_number' in params:
            query_params.append(('reference_number', params['reference_number']))  # noqa: E501
        if 'shipment_date_timestamp' in params:
            query_params.append(('shipment_date_timestamp', params['shipment_date_timestamp']))  # noqa: E501
        if 'environment' in params:
            query_params.append(('environment', params['environment']))  # noqa: E501

        header_params = {}
        if 'x_forwarded_for' in params:
            header_params['X-Forwarded-For'] = params['x_forwarded_for']  # noqa: E501
        if 'x_account_id' in params:
            header_params['x-account-id'] = params['x_account_id']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader', 'HTTPBasic', 'OAuth2PasswordBearer']  # noqa: E501

        return self.api_client.call_api(
            '/v2.0.0/suppliers/{supplier_code}/order-shipment-notifications/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetOrderShipmentNotificationResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
