# coding: utf-8

"""
    PS RESTful Service API

    A proxy service for PromoStandards SOAP to a REST API  # noqa: E501

    OpenAPI spec version: 0.0.1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from psrestful.api_client import ApiClient


class ProductPriceAndConfigurationApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_available_charges(self, supplier_code, product_id, **kwargs):  # noqa: E501
        """Get Available Charges  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_available_charges(supplier_code, product_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object supplier_code: (required)
        :param object product_id: (required)
        :param object body:
        :param object x_forwarded_for:
        :param object x_account_id:
        :param object localization_country:
        :param object localization_language:
        :param object environment:
        :return: AvailableChargesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_available_charges_with_http_info(supplier_code, product_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_available_charges_with_http_info(supplier_code, product_id, **kwargs)  # noqa: E501
            return data

    def get_available_charges_with_http_info(self, supplier_code, product_id, **kwargs):  # noqa: E501
        """Get Available Charges  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_available_charges_with_http_info(supplier_code, product_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object supplier_code: (required)
        :param object product_id: (required)
        :param object body:
        :param object x_forwarded_for:
        :param object x_account_id:
        :param object localization_country:
        :param object localization_language:
        :param object environment:
        :return: AvailableChargesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['supplier_code', 'product_id', 'body', 'x_forwarded_for', 'x_account_id', 'localization_country', 'localization_language', 'environment']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_available_charges" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'supplier_code' is set
        if ('supplier_code' not in params or
                params['supplier_code'] is None):
            raise ValueError("Missing the required parameter `supplier_code` when calling `get_available_charges`")  # noqa: E501
        # verify the required parameter 'product_id' is set
        if ('product_id' not in params or
                params['product_id'] is None):
            raise ValueError("Missing the required parameter `product_id` when calling `get_available_charges`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'supplier_code' in params:
            path_params['supplier_code'] = params['supplier_code']  # noqa: E501
        if 'product_id' in params:
            path_params['product_id'] = params['product_id']  # noqa: E501

        query_params = []
        if 'localization_country' in params:
            query_params.append(('localization_country', params['localization_country']))  # noqa: E501
        if 'localization_language' in params:
            query_params.append(('localization_language', params['localization_language']))  # noqa: E501
        if 'environment' in params:
            query_params.append(('environment', params['environment']))  # noqa: E501

        header_params = {}
        if 'x_forwarded_for' in params:
            header_params['X-Forwarded-For'] = params['x_forwarded_for']  # noqa: E501
        if 'x_account_id' in params:
            header_params['x-account-id'] = params['x_account_id']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader', 'HTTPBasic', 'OAuth2PasswordBearer']  # noqa: E501

        return self.api_client.call_api(
            '/v1.0.0/suppliers/{supplier_code}/available-charges/{product_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AvailableChargesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_available_locations(self, supplier_code, product_id, **kwargs):  # noqa: E501
        """Get Available Locations  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_available_locations(supplier_code, product_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object supplier_code: (required)
        :param object product_id: (required)
        :param object body:
        :param object x_forwarded_for:
        :param object x_account_id:
        :param object localization_country:
        :param object localization_language:
        :param object environment:
        :return: AvailableLocationsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_available_locations_with_http_info(supplier_code, product_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_available_locations_with_http_info(supplier_code, product_id, **kwargs)  # noqa: E501
            return data

    def get_available_locations_with_http_info(self, supplier_code, product_id, **kwargs):  # noqa: E501
        """Get Available Locations  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_available_locations_with_http_info(supplier_code, product_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object supplier_code: (required)
        :param object product_id: (required)
        :param object body:
        :param object x_forwarded_for:
        :param object x_account_id:
        :param object localization_country:
        :param object localization_language:
        :param object environment:
        :return: AvailableLocationsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['supplier_code', 'product_id', 'body', 'x_forwarded_for', 'x_account_id', 'localization_country', 'localization_language', 'environment']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_available_locations" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'supplier_code' is set
        if ('supplier_code' not in params or
                params['supplier_code'] is None):
            raise ValueError("Missing the required parameter `supplier_code` when calling `get_available_locations`")  # noqa: E501
        # verify the required parameter 'product_id' is set
        if ('product_id' not in params or
                params['product_id'] is None):
            raise ValueError("Missing the required parameter `product_id` when calling `get_available_locations`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'supplier_code' in params:
            path_params['supplier_code'] = params['supplier_code']  # noqa: E501
        if 'product_id' in params:
            path_params['product_id'] = params['product_id']  # noqa: E501

        query_params = []
        if 'localization_country' in params:
            query_params.append(('localization_country', params['localization_country']))  # noqa: E501
        if 'localization_language' in params:
            query_params.append(('localization_language', params['localization_language']))  # noqa: E501
        if 'environment' in params:
            query_params.append(('environment', params['environment']))  # noqa: E501

        header_params = {}
        if 'x_forwarded_for' in params:
            header_params['X-Forwarded-For'] = params['x_forwarded_for']  # noqa: E501
        if 'x_account_id' in params:
            header_params['x-account-id'] = params['x_account_id']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader', 'HTTPBasic', 'OAuth2PasswordBearer']  # noqa: E501

        return self.api_client.call_api(
            '/v1.0.0/suppliers/{supplier_code}/available-locations/{product_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AvailableLocationsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_configuration_and_pricing(self, currency, fob_id, price_type, supplier_code, product_id, **kwargs):  # noqa: E501
        """Get Configuration And Pricing  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_configuration_and_pricing(currency, fob_id, price_type, supplier_code, product_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object currency: (required)
        :param object fob_id: (required)
        :param PriceType price_type: (required)
        :param object supplier_code: (required)
        :param object product_id: (required)
        :param object body:
        :param object x_forwarded_for:
        :param object x_account_id:
        :param object configuration_type:
        :param object part_id:
        :param object localization_country:
        :param object localization_language:
        :param object environment:
        :return: ConfigurationAndPricingResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_configuration_and_pricing_with_http_info(currency, fob_id, price_type, supplier_code, product_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_configuration_and_pricing_with_http_info(currency, fob_id, price_type, supplier_code, product_id, **kwargs)  # noqa: E501
            return data

    def get_configuration_and_pricing_with_http_info(self, currency, fob_id, price_type, supplier_code, product_id, **kwargs):  # noqa: E501
        """Get Configuration And Pricing  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_configuration_and_pricing_with_http_info(currency, fob_id, price_type, supplier_code, product_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object currency: (required)
        :param object fob_id: (required)
        :param PriceType price_type: (required)
        :param object supplier_code: (required)
        :param object product_id: (required)
        :param object body:
        :param object x_forwarded_for:
        :param object x_account_id:
        :param object configuration_type:
        :param object part_id:
        :param object localization_country:
        :param object localization_language:
        :param object environment:
        :return: ConfigurationAndPricingResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['currency', 'fob_id', 'price_type', 'supplier_code', 'product_id', 'body', 'x_forwarded_for', 'x_account_id', 'configuration_type', 'part_id', 'localization_country', 'localization_language', 'environment']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_configuration_and_pricing" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'currency' is set
        if ('currency' not in params or
                params['currency'] is None):
            raise ValueError("Missing the required parameter `currency` when calling `get_configuration_and_pricing`")  # noqa: E501
        # verify the required parameter 'fob_id' is set
        if ('fob_id' not in params or
                params['fob_id'] is None):
            raise ValueError("Missing the required parameter `fob_id` when calling `get_configuration_and_pricing`")  # noqa: E501
        # verify the required parameter 'price_type' is set
        if ('price_type' not in params or
                params['price_type'] is None):
            raise ValueError("Missing the required parameter `price_type` when calling `get_configuration_and_pricing`")  # noqa: E501
        # verify the required parameter 'supplier_code' is set
        if ('supplier_code' not in params or
                params['supplier_code'] is None):
            raise ValueError("Missing the required parameter `supplier_code` when calling `get_configuration_and_pricing`")  # noqa: E501
        # verify the required parameter 'product_id' is set
        if ('product_id' not in params or
                params['product_id'] is None):
            raise ValueError("Missing the required parameter `product_id` when calling `get_configuration_and_pricing`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'supplier_code' in params:
            path_params['supplier_code'] = params['supplier_code']  # noqa: E501
        if 'product_id' in params:
            path_params['product_id'] = params['product_id']  # noqa: E501

        query_params = []
        if 'currency' in params:
            query_params.append(('currency', params['currency']))  # noqa: E501
        if 'fob_id' in params:
            query_params.append(('fob_id', params['fob_id']))  # noqa: E501
        if 'price_type' in params:
            query_params.append(('price_type', params['price_type']))  # noqa: E501
        if 'configuration_type' in params:
            query_params.append(('configuration_type', params['configuration_type']))  # noqa: E501
        if 'part_id' in params:
            query_params.append(('part_id', params['part_id']))  # noqa: E501
        if 'localization_country' in params:
            query_params.append(('localization_country', params['localization_country']))  # noqa: E501
        if 'localization_language' in params:
            query_params.append(('localization_language', params['localization_language']))  # noqa: E501
        if 'environment' in params:
            query_params.append(('environment', params['environment']))  # noqa: E501

        header_params = {}
        if 'x_forwarded_for' in params:
            header_params['X-Forwarded-For'] = params['x_forwarded_for']  # noqa: E501
        if 'x_account_id' in params:
            header_params['x-account-id'] = params['x_account_id']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader', 'HTTPBasic', 'OAuth2PasswordBearer']  # noqa: E501

        return self.api_client.call_api(
            '/v1.0.0/suppliers/{supplier_code}/pricing-and-configuration/{product_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConfigurationAndPricingResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_decoration_colors(self, location_id, supplier_code, product_id, **kwargs):  # noqa: E501
        """Get Decoration Colors  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_decoration_colors(location_id, supplier_code, product_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object location_id: (required)
        :param object supplier_code: (required)
        :param object product_id: (required)
        :param object body:
        :param object x_forwarded_for:
        :param object x_account_id:
        :param object decoration_id:
        :param object localization_country:
        :param object localization_language:
        :param object environment:
        :return: DecorationColorResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_decoration_colors_with_http_info(location_id, supplier_code, product_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_decoration_colors_with_http_info(location_id, supplier_code, product_id, **kwargs)  # noqa: E501
            return data

    def get_decoration_colors_with_http_info(self, location_id, supplier_code, product_id, **kwargs):  # noqa: E501
        """Get Decoration Colors  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_decoration_colors_with_http_info(location_id, supplier_code, product_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object location_id: (required)
        :param object supplier_code: (required)
        :param object product_id: (required)
        :param object body:
        :param object x_forwarded_for:
        :param object x_account_id:
        :param object decoration_id:
        :param object localization_country:
        :param object localization_language:
        :param object environment:
        :return: DecorationColorResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['location_id', 'supplier_code', 'product_id', 'body', 'x_forwarded_for', 'x_account_id', 'decoration_id', 'localization_country', 'localization_language', 'environment']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_decoration_colors" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'location_id' is set
        if ('location_id' not in params or
                params['location_id'] is None):
            raise ValueError("Missing the required parameter `location_id` when calling `get_decoration_colors`")  # noqa: E501
        # verify the required parameter 'supplier_code' is set
        if ('supplier_code' not in params or
                params['supplier_code'] is None):
            raise ValueError("Missing the required parameter `supplier_code` when calling `get_decoration_colors`")  # noqa: E501
        # verify the required parameter 'product_id' is set
        if ('product_id' not in params or
                params['product_id'] is None):
            raise ValueError("Missing the required parameter `product_id` when calling `get_decoration_colors`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'supplier_code' in params:
            path_params['supplier_code'] = params['supplier_code']  # noqa: E501
        if 'product_id' in params:
            path_params['product_id'] = params['product_id']  # noqa: E501

        query_params = []
        if 'location_id' in params:
            query_params.append(('location_id', params['location_id']))  # noqa: E501
        if 'decoration_id' in params:
            query_params.append(('decoration_id', params['decoration_id']))  # noqa: E501
        if 'localization_country' in params:
            query_params.append(('localization_country', params['localization_country']))  # noqa: E501
        if 'localization_language' in params:
            query_params.append(('localization_language', params['localization_language']))  # noqa: E501
        if 'environment' in params:
            query_params.append(('environment', params['environment']))  # noqa: E501

        header_params = {}
        if 'x_forwarded_for' in params:
            header_params['X-Forwarded-For'] = params['x_forwarded_for']  # noqa: E501
        if 'x_account_id' in params:
            header_params['x-account-id'] = params['x_account_id']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader', 'HTTPBasic', 'OAuth2PasswordBearer']  # noqa: E501

        return self.api_client.call_api(
            '/v1.0.0/suppliers/{supplier_code}/decoration-colors/{product_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DecorationColorResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_fob_points(self, supplier_code, product_id, **kwargs):  # noqa: E501
        """Get Fob Points  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_fob_points(supplier_code, product_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object supplier_code: (required)
        :param object product_id: (required)
        :param object body:
        :param object x_forwarded_for:
        :param object x_account_id:
        :param object localization_country:
        :param object localization_language:
        :param object environment:
        :return: FobPointsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_fob_points_with_http_info(supplier_code, product_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_fob_points_with_http_info(supplier_code, product_id, **kwargs)  # noqa: E501
            return data

    def get_fob_points_with_http_info(self, supplier_code, product_id, **kwargs):  # noqa: E501
        """Get Fob Points  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_fob_points_with_http_info(supplier_code, product_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object supplier_code: (required)
        :param object product_id: (required)
        :param object body:
        :param object x_forwarded_for:
        :param object x_account_id:
        :param object localization_country:
        :param object localization_language:
        :param object environment:
        :return: FobPointsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['supplier_code', 'product_id', 'body', 'x_forwarded_for', 'x_account_id', 'localization_country', 'localization_language', 'environment']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_fob_points" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'supplier_code' is set
        if ('supplier_code' not in params or
                params['supplier_code'] is None):
            raise ValueError("Missing the required parameter `supplier_code` when calling `get_fob_points`")  # noqa: E501
        # verify the required parameter 'product_id' is set
        if ('product_id' not in params or
                params['product_id'] is None):
            raise ValueError("Missing the required parameter `product_id` when calling `get_fob_points`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'supplier_code' in params:
            path_params['supplier_code'] = params['supplier_code']  # noqa: E501
        if 'product_id' in params:
            path_params['product_id'] = params['product_id']  # noqa: E501

        query_params = []
        if 'localization_country' in params:
            query_params.append(('localization_country', params['localization_country']))  # noqa: E501
        if 'localization_language' in params:
            query_params.append(('localization_language', params['localization_language']))  # noqa: E501
        if 'environment' in params:
            query_params.append(('environment', params['environment']))  # noqa: E501

        header_params = {}
        if 'x_forwarded_for' in params:
            header_params['X-Forwarded-For'] = params['x_forwarded_for']  # noqa: E501
        if 'x_account_id' in params:
            header_params['x-account-id'] = params['x_account_id']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIKeyHeader', 'HTTPBasic', 'OAuth2PasswordBearer']  # noqa: E501

        return self.api_client.call_api(
            '/v1.0.0/suppliers/{supplier_code}/fob-points/{product_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FobPointsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
